.profile-banner {
  height: 40vh;
  background-image: url('../../Assets/keyboards.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .profile-avatar {
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.profilepage-content {
  margin-top: 100px; //half of profile avatar height
}
