.post-item-container {
  padding: 2rem !important;

  .post-top {
    margin-bottom: 1rem;
    .post-avatar {
      img {
        width: 3rem;
        height: 3rem;
        // border-radius: 50%;
        // border: 1px solid rgb(202, 202, 202);
        -o-object-fit: cover;
           object-fit: cover;
      }
    }

    .post-info {
      padding-left: 2rem;
      a {
        color: $primary-color;
      }
    }

    .fa-trash-alt {
      position: absolute;
      right: 3rem;
      cursor: pointer;
    }

    .post-name {
      font-weight: 500;
    }

    .post-date {
      font-size: 0.8rem;
      color: #8d8d8d;
    }
  }

  .post-body-text {
    padding: 1rem 0;
    p {
      color: $paragraph-text;
      line-height: 1.8rem;
      margin-bottom: 0;
    }
  }

  .post-body-image {
    padding-bottom: 1rem;
    .post-gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      width: 100%;
      margin: auto;

      .post-gallery-item {
        height: 300px;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        margin: 0.3em;
        position: relative;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover;
        }
      }
    }
  }

  .post-action-summary {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.85rem;
    padding: 1rem 0;
    color: rgba(102, 102, 102, 0.75);
  }

  .post-cta--container {
    color: $paragraph-text;
    padding: 1rem 0;
    background-color: #fafafa;

    .post-cta--item {
      cursor: pointer;

      .active {
        color: $primary-color;
      }
    }
  }
  .section-divider {
    .col {
      margin: 0 !important;
    }
  }
  .comment-area {
    margin-top: 0 !important;
    .comment-box {
      width: 100%;
      padding: 0;

      .comment-box-input {
        padding: 1rem;
        background-color: rgb(250, 250, 250);
      }
    }
  }
}
