.post-item-container {
  .fa-trash-alt {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }

  .post-cta--container {
    .post-cta--item {
      cursor: pointer;

      .active {
        color: $primary-color;
      }
    }
  }
}
