.sign-up-page {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .sign-in__link {
    text-align: right;
    margin-bottom: 4rem;
  }
}
