.create-post-box {
  padding: 2rem !important;

  .post-avatar {
    display: flex;
    justify-content: center;
  }
  .create-post-bottom {
    align-items: center;
    margin-top: 2rem !important;

    .photo-input--post {
      cursor: pointer;
      margin-bottom: 0;

      input[type="file"] {
        display: none;
      }

      .fas {
        padding-right: 0.5rem;
      }
    }
  }
}
