.alert {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  width: 20rem;
  margin: 2rem auto;
  padding: 2rem 0;
  -webkit-animation: alertAnimation 0.5s ease-in-out;
  animation: alertAnimation 0.5s ease-in-out;
  z-index: 1000;
}

@-webkit-keyframes alertAnimation {
  0% {
    top: -100%;
  }

  100% {
    top: 50%;
  }
}

@keyframes alertAnimation {
  0% {
    top: -100%;
  }

  100% {
    top: 50%;
  }
}
