.aboutme {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  background-color: rgb(219, 97, 97);
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-top: 10rem;
}
span {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  align-self: center;
  margin-left: 8rem;
}

i {
  margin-left: 1rem;
  margin-right: 20px;
}
li {
  list-style-type: none;
  grid-row: 1rem;
  font-size: 14px;
}
p {
  font-size: 12px;
}
