$primary-color: #1065c0;
$secondary-color-1: #3e5568;
$secondary-color-2: #55a3f8;
$secondary-color-3: #17b955;
$paragraph-text: #666666;
// $paragraph-text-dark: #666666;
$paragraph-text-light: #e7e7e7;
$background-color: #d0d0d0;
$color-error: #fa5757;
$color-danger: #fa5757;
$color-success: #1065c0;
$background-color-danger: #fff3f3;
$background-color-success: #a5d0e9;
