@import "../../styles/variables";

.card {
  a {
    text-decoration: none;
    color: $secondary-color-1;

    .profile-card {
      margin-bottom: 1rem;
    }

    .user-box-section {
      padding: 1rem;
      border-radius: 0.2rem;

      span {
        font-weight: 700;
      }
    }
  }
}
