@import "../../styles/variables";

.user-box {
  a {
    text-decoration: none;
    color: $secondary-color-1;

    .profile-card {
      margin-bottom: 1rem;
      background-color: $secondary-color-1;
      color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      .text-muted {
        color: $paragraph-text-light !important;
      }
    }

    .user-box-section {
      padding: 1rem;
      border-radius: 0.2rem;

      span {
        font-weight: 700;
      }
    }

    .profile-progress {
      cursor: pointer;
      text-align: left;

      .progress {
        height: 0.5rem !important;
        background-color: $background-color;

        .bg-success {
          background-color: $secondary-color-3 !important;
        }
      }

      button {
        border: none;
        padding: 1rem 0 0 0;
        width: 100%;
        text-align: left !important;
        position: relative;
        transition: 0.5s;
        color: $secondary-color-1;
        text-decoration: none;

        &::after {
          display: inline-block;
          padding-left: 8px;
          content: "\0279E";
          transition: transform 0.3s ease-out;
        }

        &:hover {
          color: inherit;

          &::after {
            transform: translateX(4px);
          }
        }
      }
    }
  }
}
